body {
  background-image: url("background.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  top: 15%;
}

.inputs {
  -moz-appearance: none;
  border: 0px;
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-family: monospace;
  font-size: 32px;
  margin: 25px;
  text-align: left;
  text-indent: 0px;
  text-overflow: '';
  width: 66%;
}
.submit {
  visibility: hidden;
}
